.max_width {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

header {
    position: fixed;
    background: transparent;
    width: 100%;
    height: 80px;
    text-align: center;
    transition: all 0.1s linear;
    z-index: 2;
}

.header_contents {
    padding: 20px 10px;
    text-align: center;
    height: 100%;
}

.header_nav {
    display: none;
    
}
.menu{
	color: #fff;
	float: right;
	margin:  20px;
}
.logo {
    float: left;
    background: url('../assets/scalia_logo.png') no-repeat center top;
    background-size: contain;
    max-width: 120px;
    width: 100%;
    height: 50px;
}

.header_nav li {
    display: inline-block;
    padding: 0 10px;
}

.nav_links {
    color: #fff;
    font: 300 17px/20px 'Roboto', sans-serif;
}

.nav_links:hover {
    color: #58abb7;
}
.space_shuttle_icon {
	color: #58abb7;
	background: #fff;
	padding: 12px 10px;
	border-radius: 50%;
}

.banner {
    background: url('../assets/banner_image.png') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

.banner_inner {
    width: 100%;
    height: 100vh;
    display: table;
    margin: 0 auto;
}

.banner_caption {
    max-width: 500px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}

.banner_heading {
    color: #fff;
    font: 300 40px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    max-width: 900px;
    padding: 10px;
    border-bottom: 1px solid rgba(250, 250, 250, .5);
}

.banner_content {
    color: #7ad5e2;
    margin: 0 auto;
    font: 300 19px/27px 'Source Sans Pro', sans-serif;
    max-width: 900px;
    padding: 20px;
}


/* banner_content & section description has similar stylings */

.buttons {
    border-radius: 4px;
    padding: 5px 20px 5px 10px;
    color: #fff;
    font: 300 18px/28px 'Roboto Condensed', sans-serif;
    margin: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.caret_right {
    color: #fff;
    padding: 10px;
}

.buy_button {
    background: #a4c15f;
}

.learn_more {
    background: #5f6e7a;
}

.sign_up {
    background: #66b4cd;
    text-align: center;
    padding: 40px 10px;
}

.section_heading {
    font: 300 28px/28px 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.section_description {
    font: 300 16px/20px 'Source Sans Pro', sans-serif;
    color: #fff;
    padding: 20px 0;
}

.signup_form {
    padding: 20px 0;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    background: #fff;
    color: #9fa9b5;
    font: 300 20px/20px 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 5px auto;
}

.signup_input {
    max-width: 200px;
}



.sign_up_button {
    background: #3c4765;
    margin-left: 25px;
}

.features {
    width: 100%;
    background: url('../assets/rocket.png') no-repeat center top;
    background-size: cover;
    min-height: 900px;
    text-align: center;
    padding: 30px 0;
}

.history {
    text-align: center;
    padding: 20px 0;
}

.black_heading {
    color: #4c5867;
}

.timeline {
    max-width: 900px;
    margin: 0 auto;
}

.timeline_list_item {
    padding: 20px 0;
    margin: 10px 0;
    position: relative;
    width: 100%;
}

.timeline_description,
.timeline_image {
    display: block;
}

.timeline_description {
    padding: 20px 0;
}

.list_item_heading {
    color: #ff7070;
    font: 300 30px/30px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.list_item_description {
    color: #626f80;
    font: 300 19px/27px 'Source Sans Pro', sans-serif;
    padding: 10px 0;
    max-width: 340px;
    position: static;
    margin: 0 auto;
}

.timeline_images {
    max-width: 120px;
    border-radius: 50%;
}

.mission_detail_sec {
    text-align: center;
}

.banner_sec {
    background: url('../assets/pencil.jpg') no-repeat center top;
    background-size: cover;
    min-height: 900px;
    position: relative;
    padding: 40px 10px;
}

.banner_sec_inner {
    max-width: 550px;
    text-align: left;
    padding: 40px;
}

.banner_sec_caption {}

.banner_sec_heading {
    color: #58abb7;
    font: 300 40px/40px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.banner_sec_heading div {
    color: #4c5867;
    font-size: 50px;
    line-height: 50px;
}

.banner_sec_description {
    color: #626f80;
    font: 300 19px/27px 'Source Sans Pro', sans-serif;
}

.team_members {
    text-align: center;
    padding: 50px 10px;
}
.team_member_list {
	padding: 30px 10px;
}
.member_list_item {
	padding: 20px 10px;
}
.team_member_list li:nth-child(2) {
    margin: 10px 0;
}

.member_list_item> * {
    display: block;
    margin: 0 auto;
}

.member_list_item img {
    border-radius: 50%;
    max-width: 150px;
}
.member_name{
	color: #58abb7;
	font: 300 25px 'Roboto', sans-serif;
padding: 5px 0;

}
.member_designation {
	color: #aaa;
	font:  300 16px 'Source Sans Pro', sans-serif ;

}
.member_phone {
	color: #58abb7;
	font:  300 22px 'Roboto', sans-serif ;
padding: 5px 0;

}
.about_member {
	color:#626f80 ;
	font: 300 19px 'Source Sans Pro', sans-serif  ;
padding: 5px 0;

}
.contact_member {
padding: 10px 0;
	color: #58abb7;

}
.unique_design {
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.design_heading,
.about_scalia_heading {
    font: 300 48px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.design_sub_heading {
    color: #ff7070;
}

.design_image {
    min-height: 650px;
    background: url('../assets/podl.png') no-repeat center top;
    background-size: cover;
}

.design_content {
    padding: 20px 0;
}

.design_content_heading {
    color: #4c5867;
    padding: 10px 0;
    text-transform: uppercase;
    font: 300 36px/36px 'Roboto Condensed', sans-serif;
}

.columns {
    -moz-columns: 1;
    -webkit-columns: 1;
    -ms-columns: 1;
    -o-columns: 1;
    columns: 1;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    -ms-column-gap: 20px;
    -o-column-gap: 20px;
    column-gap: 20px;
    text-align: left;
    color: #626f80;
    font: 300 19px/27px 'Source Sans Pro', sans-serif;
    padding: 20px 10px;
}

.about_scalia {
    background: url('../assets/pic.jpg') no-repeat center top;
    min-height: 1550px;
    text-align: center;
    padding: 30px 0;
}

.about_scalia_heading {
    color: #626f80;
}

.about_scalia_sub_heading {
    color: #c7fbd3;
}

.request {
    text-align: center;
    background: url('../assets/alert.png') no-repeat center top;
    min-height: 500px;
    background-size: cover;
    padding: 30px 0;
}

.request_inner {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.request_heading {
    padding: 20px;
}

.request_content {
    color: #4c5867;
    font: 300 19px/27px 'Source Sans Pro', sans-serif;
    padding: 20px;
}

.request_button {
    background: #b0727e;
}

.free_trial {
    text-align: center;
    padding: 50px 0;
}

.free_trial_content {
    background: #f1f5f8;
    border-radius: 4px;
    padding: 40px;
}

.free_trial_description {
    color: #626f80;
    max-width: 800px;
    margin: 0 auto;
}

.trial_input {
    width: 50%;
    /* min-width: 300px; */
}

.free_trial_button {
    background: #ff7070;
}

.offices {
    background: #f1f5f8 url('../assets/map.png') no-repeat center top;
    background-size: contain;
    width: 100%;
    text-align: center;
/*     min-height: 700px;
 */    padding: 40px 0;
}

.offices_inner {
    padding: 20px 0;
    max-width: 800px;
}

.offices_description {
    color: #384454;
}

.detailed_info {
    margin-top: 25%;
}

.detail_button {
    background: #4c5867;
}

.clients {
    background: url('../assets/clouds.jpg') no-repeat center top;
    background-size: cover;
    min-height: 600px;
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.clients_heading {
    max-width: 950px;
    margin: 0 auto;
    z-index: 3;
}

.clients_heading span {
    color: #58abb7;
}
.statistics {
	padding: 40px 0 0;
	margin: 20px 0 0;
}
.statistics_list i {
	padding: 15px;
	border-radius: 50%;
	color: #fff;
}
.deliveries i {
	background: #55A3B1;
}
.projects i{
	background: #EF6B6C;
}
.happy_clients i {
	background: #EF956B;
}
.downloads i{
	background: #475462;
}
.statistics h5 {
	color: #4c5867;
	font:  300 40px/40px 'Roboto', sans-serif ;
}
.statistics_list li {
	padding: 20px;
}
.statistics_list p {
	color: #384454;
	font: 200 22px/22px 'Source Sans Pro', sans-serif;
}
.flexslider {
    overflow: hidden;
    background: transparent;
    border: none;
    padding: 50px 30px;
}

.slides img {
    max-width: 200px;
}

.footer_nav {
    background: #2c2e3a;
    width: 100%;
    min-height: 80px;
    text-align: center;
}

.flag {
    max-width: 20px;
}

.nav_list {
    text-align: center;
    padding: 20px;
    display: block;
}

.nav_list_item {
    display: inline-block;
    font: 300 17px/20px 'Roboto', sans-serif;
}
.nav_list_item a:hover,
.social_icon_container i:hover{
	color: #ff7070;
}

.social_icon_container {
    padding: 35px 10px;
    color: #4c5867;
    display: block;
}

.social_icon_container i {
    margin: 0 10px;
}

.details {
    background: url('../assets/footer_background.png') no-repeat center top;
    background-size: cover;
    min-height: 400px;
    padding: 30px 20px;
}

.details h4 {
    color: #58abb7;
    font: 300 36px/36px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.details i {
    color: #58abb7;
}

.details li,
.details p {
    font: 300 19px/27px 'Source Sans Pro', sans-serif;
    color: #fff;
    padding: 10px 0;
}

.recent_posts img {
    border-radius: 50%;
    max-width: 50px;
}

.recent_posts p,
.recent_posts span {
    display: inline-block;
    max-width: 265px;
}
.newsletters input {
	width: 55%;
	background: #2c2e3a;
	color: #667383;
	margin: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.newsletters button {
	margin:  0;
	background: #4c5867;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.contacts,
.recent_posts,
.newsletters{
	padding: 20px 10px;
	box-sizing: border-box;
}
.scrolled_header{
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}
.scrolled_logo{
	background: url('../assets/scalia_logo_small.png') no-repeat center top;
	background-size: contain;
}
.scrolled_menu{
	color: #000;
}
.scrolled_nav_links{
	color: #58abb7;
}

@media screen and (min-width: 1024px) {
    .header_contents {}
    .header_nav {
    	display: inline-block;
    	vertical-align: middle;
    padding: 12px 0;
    }
    #menu_btn{
    	display: none;
    }
    .logo {}
    .header_nav li {
    	
    }
    .nav_links {
		
    }
    .nav_links:hover {
    }
    .banner {}
    .banner_inner {
    	width: 80%;
    }
    .banner_caption {}
    .banner_heading {
    	font-size: 80px;
    }
    .banner_content {}
    .buttons {
    	font-size: 22px;
    }
    .caret_right {}
    .buy_button {}
    .learn_more {}
    .sign_up {}
    .section_heading {
    	font-size: 48px;
    	line-height: 48px;
    }
    .section_description{
    	font-size: 19px;
    	line-height: 27px;
    }
    input[type="text"] {
    	font-size: 26px;
    	line-height: 26px;
    	display: inline-block;
    }
    .signup_input:nth-child(2) {
    margin: 0 25px;
}
    .sign_up_button {}
    .features {}
    .timeline {}
    .list_item_heading{
    	font-size: 36px;
    	line-height: 36px;
    }
    .timeline_description {
        display: inline-block;
        max-width: 350px;
        vertical-align: middle;
        position: absolute;
    }
    .timeline_description_left {
        left: 10px;
        text-align: right;
    }
    .timeline_description_right {
        right: 10px;
        text-align: left;
    }
    .timeline_images {
        display: inline-block;
        vertical-align: middle;
    }
    .banner_sec_heading{
    	font-size: 74px;
    	line-height: 74px;
    }
    .banner_sec_heading div {
    	font-size: 120px;
    	line-height: 120px;
    }
    .member_list_item {
        display: inline-block;
        vertical-align: top;
        width: 30%;
    }
    .team_member_list li:nth-child(2) {
        margin: 0 10px;
    }
    .design_heading,
.about_scalia_heading{
	font-size: 78px;
	line-height: 78px;
}
	.statistics_list li {
		display: inline-block;
		vertical-align: top;
		padding: 0 20px;
	}
	.columns {
		-moz-columns: 4;
		-webkit-columns: 4;
		-ms-columns: 4;
		-o-columns: 4;
		columns: 4;
	}
	.trial_input {
		max-width: 300px;
	}
	.nav_list{
		float: left;
	}
	.social_icon_container{
		float: right;
	}
    .contacts,
    .recent_posts,
    .newsletters {
        display: inline-block;
        vertical-align: top;
        width: 32%;
    }
}
